body {
	background: red;
}
h1 {
	margin: 0;
	font-family: gotham, proxima nova, helvetica, arial, fantasy;	
	font-style: italic;
	font-weight: normal;
	font-size: 120px;
	line-height: 1.5;
	letter-spacing: .025em;
	text-transform: uppercase;
	color: rgba(127, 255, 0, .5);
}